<h1 class="text-4xl font-bold text-center mt-10 text-primary opacity-0 animate-dissolve">Useless Facts</h1>

<nav class="flex justify-center gap-6 mb-8 mt-4 text-lg">
  <a routerLink="/random" class="text-primary font-semibold hover:underline transition">
    Random
  </a>
  <a routerLink="/list" class="text-primary font-semibold hover:underline transition">
    All Facts
  </a>
  <a routerLink="/statistics" class="text-primary font-semibold hover:underline transition">
    Stats
  </a>
</nav>


<router-outlet></router-outlet>